<div class="container-fluid">
  <library-background-changer></library-background-changer>
  <div class="container full-container background-change mt-3" style="border: solid black 1pt;">
    <div class="container mt-3">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">Name</span>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">Address</span>
        <input type="text" class="form-control">
      </div>
      
      <div>
        <div class="form-text">Enter your birthday.</div>
        <div class="input-group">
          <span class="input-group-text">MM</span>
          <input class="form-control">
          <span class="input-group-text">DD</span>
          <input class="form-control">
          <span class="input-group-text">YYYY</span>
          <input class="form-control">
        </div>
      </div>
    </div>
    </div>
</div>